.login-container {
    padding: 2rem;
    min-height: 350px;
    height: 40vh;
    max-height: 500px;
    width: 45vw;
    margin: 3rem auto;
    background-color: #0F0402;
    box-shadow: 1rem 2rem 1rem #060201;
}

.register-container {
    padding: 2rem;
    min-height: 350px;
    height: 40vh;
    max-height: 500px;
    width: 45vw;
    margin: 3rem auto;
    background-color: #0F0402;
    box-shadow: 1rem 2rem 1rem #060201;
}
