.header {
    color: #FFFFFF;
    background-image: url(../../images/header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.header p {
    font-family: 'Raleway', sans-serif;
}

.pfp {
    width: 8vw;
    height: 8vw; 
    border-radius: 50%;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
}

.pfp-image {
    width: 100%;
    height: auto;
}

.username {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    margin: 1rem;
}

.header-meta {
    font-size: .8vw;
    margin: 0;
}